* {
    padding: 5px;
}
form > input,
form > select,
label[for="gender"],
label[for="msg"],
textarea {
    display: block;
}

input[type = "radio"],
input[type = "checkbox"] {
    display: inline;
}

/* label {
    display: block;
} */
